.app.dark {
    --bg-color: #0616a5;
    --inverted-bg-color: #a7aebd;
    --primary-color: green;
    --secondary-color: #09e009;
    --inverted-primary-color: #040846;
    --inverted-secondary-color: #3243e5;
}
